<div class="center hero-unit">
  <h2><%= t 'home.title' %></h2>
    <%= link_to t('home.sign_up'), new_user_registration_path, class: "btn btn-large btn-primary" %>  
    <%= link_to t('home.sign_in'), new_user_session_path, class: "btn btn-large btn-primary" %>  
</div>
